@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --containerWidth: 1352px;

    --colorPrimary: #08A6E4;
    --colorPrimaryShadow: rgba(7, 172, 230, .16);
    --colorTouch1: #FB3B64;
    --colorTouch1Shadow: #FB3B6450;
    --colorTouch2: #55DFB4;
    --colorBlack: #000000;
    --colorGrey: #A5A5A5;
    --colorGreyLight: #F7F7F7;
    --colorWhite: #FFFFFF;

    --borderRadiusSmall: 5px;
    --borderRadiusBig: 18px;

}

html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--colorBlack);
}
* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: var(--containerWidth);
    display: flex;
}

header {
    width: 100%;
    background: var(--colorWhite) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}
header .container {
    justify-content: space-between;
    align-items: center;
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 3.2rem;
    color: var(--colorPrimary);
    padding-left: 1rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
}
.menu li {
    padding: 0 3.6rem;
}
.menu li:last-child {
    padding: 0 0 0 3.6rem;
}
.menuLink {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--colorGrey);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0 1rem;
    height: 7.6rem;
    border-bottom: 4px solid var(--colorWhite);
    border-top: 4px solid var(--colorWhite);
}
.menuLink:hover {
    color: var(--colorBlack);
    border-bottom: 4px solid var(--colorPrimary);
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    color: var(--colorBlack);
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.1rem;
    font-weight: 700;
}
h4 {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.6rem;
}
h5 {
    font-size: 1.2rem;
    font-weight: 700;
}

p {
    font-size: 1.6rem;
    padding: 2rem 0 4rem 0;
    line-height: 2.2rem;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13rem 0 52rem 0;
}
.buttonPrimary {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--colorWhite);
    padding: 2.2rem 16rem;
    background: var(--colorPrimary) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--colorPrimaryShadow);
    border-radius: 40px;
    opacity: 1;
}
.buttonPrimary:hover {
    background-color: var(--colorTouch1);
    box-shadow: 5px 10px 14px var(--colorTouch1Shadow);
    cursor: pointer;
}
.heroPic {
    position:absolute;
    bottom: 0;
    background: url("../assets/Background.png") center/cover;
    height: 519px;
    width: 100%;
    z-index:-1;
}

.statistics, .prices {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0 12rem 0;
    background: var(--colorWhite) 0 0 no-repeat padding-box;
    box-shadow: 0 -5px 80px #00000029;
    opacity: 1;
}
.statistics .container, .prices .container {
     justify-content: space-evenly;
     align-items: flex-start;
     width: 100%;
     padding: 10rem 0 0 0;
 }
.statBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statBox__Text {
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: var(--colorGrey);
    text-align: center;
    padding-bottom: 0;
}
.statBox__Icon {
    position: relative;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
    background-color: var(--colorTouch1);
    margin-bottom: 1.2rem;
}
.statBox__Icon--2 {
    background-color: var(--colorPrimary);
}
.statBox__Icon--3 {
    background-color: var(--colorTouch2);
}
.statBox__Icon::after {
    content: "";
    background: url("../assets/Person.svg") no-repeat center left;
    width: 6.3rem;
    height: 6.3rem;
    position: absolute;
    top: 0;
    left: 50%;
}
.statBox__Icon--2::after {
    background: url("../assets/Eye.svg") no-repeat center left;
}
.statBox__Icon--3::after {
    background: url("../assets/Catalog.svg") no-repeat center left;
}

.pricesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0 12rem 0;
    background: var(--colorGreyLight) 0 0 no-repeat padding-box;
    opacity: 1;
}
.benefits .container {
    max-width: calc(var(--containerWidth) - 200px);
    margin-bottom: 40px;
}
.benefits .container:last-child {
    margin-bottom: 0;
}

.benefitBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorWhite) 0 0 no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: var(--borderRadiusSmall);
    padding: 35px;
}
.benefitBox--small {
    min-width: 440px;
    background-color: var(--colorTouch2);
    padding: 80px 60px 40px 60px;
    margin-left: 60px;
}
.benefitBox__Text {
    max-width: 35%;
}
.benefitBox__Full {
    max-width: 100%;
}
.benefitBox__Image {
    position: relative;
    width: 450px;
    z-index: 1;
}
.benefitBox__Image--1 {
    margin-top: 80px;
    margin-right: 50px;
}
.benefitBox__Image--1::after {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: -70px;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 40px;

    background-color: var(--colorTouch1);
    z-index: -1;
}
.benefitBox__Image--2 {
    margin-top: 40px;
    margin-left: 0;
}
.benefitBox__Image--2::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: var(--colorPrimary);
    z-index: -1;
}
.benefitBox__Line {
    display: block;
    height: 4px;
    width: 300px;
    background-color: var(--colorTouch1);
}
.benefitBox__Line--2 {
    background-color: var(--colorPrimary);
}
.benefitBox__Line--3 {
    background-color: var(--colorTouch2);
}



